* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: rgb(239, 138, 138);
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
ul {
  list-style: none;
}
/* navigation  button */
.first--list--content {
  /* margin-right: 10px; */
  display: flex;
  gap: 20px;
}
.Second--list--content {
  display: flex;
  gap: 100px;
}
.Third--list--content {
  display: flex;
  gap: 10px;
}
.search {
  border-radius: 5px;
  padding: 1px;
}
body {
  background-color: rgb(41, 36, 36);
}
/* defining content  */
main {
  display: flex;
  background-color: aqua;
  height: 100px;
  gap: 4px;
}
