* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(60, 62, 64);
  align-items: center;
  align-content: center;
  margin: 0 auto;
  border-top: 0.5px solid rgb(87, 86, 86);
  border-bottom: 0.8px solid rgb(87, 86, 86);
  margin-bottom: 1px;
}
/* OVERALL DECLERATION FOR COMMONLY USED ITEM */
ul {
  list-style: none;
}
.img-icon {
  width: 20px;
  border-radius: 50%;
}
.img-icon-2 {
  width: 25px;
  border-radius: 55%;
}
.img-icon-3 {
  width: 35px;
  border-radius: 55%;
}
.story-img {
  border: 3px solid rgb(0, 0, 255);
}

/* navigation  button */
.first--list--content {
  /* margin-right: 10px; */
  color: aliceblue;
  display: flex;
  gap: 20px;
  align-items: center;
  align-content: center;
}

.Second--list--content {
  display: flex;
  gap: 125px;
  color: aliceblue;
  align-items: center;
  align-content: center;
}
.fa-house {
  color: blue;
}
.Third--list--content {
  color: aliceblue;
  display: flex;
  gap: 22px;
  align-items: center;
  align-content: center;
}
/* icon settings */
.fa-facebook {
  color: rgb(13, 13, 236);
}
.search {
  border-radius: 5px;
  padding: 1px;
}
header ul i {
  font-size: 19px;
}
/* starting from body */
body {
  background-color: rgb(76, 77, 76);
}
/* defining content  */
section {
  display: flex;
  background-color: rgb(76, 77, 76);
  justify-content: space-between;
  margin: 0 auto;
}
/* .left--content of left side */
.left--content {
  background-color: rgb(76, 77, 76);
  color: aliceblue;
  margin: 0;
  width: 300px;
  height: 990px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding-top: 15px;
}
.left-first-container-list {
  padding: 10px 10px;
  border-bottom: 0.95px solid rgb(87, 86, 86);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.first-icon {
  display: flex;
  align-items: center;
}
.left-icon-content {
  display: flex;
  gap: 18px;
}
/* .middle--content  */
.middle--content {
  background-color: rgb(76, 77, 76);
  color: aliceblue;
  margin: 0 auto;
  width: 780px;
  display: flex;
  padding: 20px 10px;
  border-radius: 8px;
  flex-direction: column;
  gap: 15px;
}
.middle-top-content {
  border-radius: 8px;
  margin: 0 auto;
  justify-content: center;
  background-color: rgb(60, 62, 64);
}
.middle-content-for-top-icon {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  align-items: center;
  font-size: 24px;
  flex-direction: row;
  padding: 10px;
  gap: 210px;
  border-bottom: 0.8px solid rgb(87, 86, 86);
}
.middle-top-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}
.middle-top-stories-box {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}
.middle-story {
  background-color: rgb(111, 196, 196);
  height: 153px;
  width: 112px;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 7px 10px;
}
.middle-top-post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(60, 62, 64);
  border-radius: 7px;
  padding: 10px;
}
.middle-top-post-box-up ul {
  display: flex;
  align-items: center;
  border-bottom: 0.8px solid rgb(136, 76, 76);
}
.middle-top-post-box-down ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.middle-top-post-box-2 {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-top: 10px;
}
.middle-last-post {
  display: flex;
  flex-direction: column;
  background-color: rgb(60, 62, 64);
  border-radius: 7px;
  padding: 10px;
  gap: 10px;
}
.middle-last-post ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.middle-last-post-heading {
  display: flex;
  align-items: center;
  gap: 15px;
}
.fb-post-img {
  width: 730px;
}
.post-like-number {
  padding-left: 20px;
}
.post-react {
  border-top: 0.8px solid rgb(136, 76, 76);
  padding: 8px 20px;
  align-items: center;
}
.post-button {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* middle top icon config */
.Stories {
  color: blue;
}
.post {
  width: 41rem;
  padding: 4px;
  border-radius: 11px;
  background-color: rgb(76, 77, 76);
  text-align: center;
}
/* RIGHT CONTENT */
.right--content {
  background-color: rgb(76, 77, 76);
  color: aliceblue;
  margin: 0;
  width: 300px;
  height: 990px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding-top: 15px;
}
.right-content-top {
  padding: 10px 10px;
  border-bottom: 0.95px solid rgb(87, 86, 86);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.right-content-top-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-content-top-2-common {
  display: flex;
  gap: 8px;
  align-items: center;
}
.right-content-below-top {
  padding: 10px 10px;
  border-bottom: 0.95px solid rgb(87, 86, 86);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.right-content-below-top-1 {
  display: flex;
  gap: 8px;
  align-items: center;
}
.right-content-third-top {
  padding: 10px 10px;
  /* border-bottom: 0.95px solid rgb(87, 86, 86); */
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.right-content-third-top-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-content-third-top-contacts-right {
  display: flex;
  align-items: center;
  gap: 25px;
}
.right-content-third-top-chart-list ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-bottom: 0.8px solid rgb(87, 86, 86);
  padding-bottom: 20px;
}
.right-content-third-top-chart-list-img {
  display: flex;
  align-items: center;
  gap: 10px;
}
.group-chart {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 10px;
}
.group-chart-list {
  display: flex;
  align-items: center;
  gap: 10px;
}
