* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(60, 62, 64);
  align-items: center;
  align-content: center;
  margin: 0 auto;
  border-top: 0.5px solid rgb(87, 86, 86);
  border-bottom: 0.8px solid rgb(87, 86, 86);
  margin-bottom: 1px;
}
/* OVERALL DECLERATION FOR COMMONLY USED ITEM */
ul {
  list-style: none;
}
.img-icon {
  width: 20px;
  border-radius: 50%;
}
.img-icon-2 {
  width: 25px;
  border-radius: 50%;
}

/* navigation  button */
.first--list--content {
  /* margin-right: 10px; */
  color: aliceblue;
  display: flex;
  gap: 20px;
  align-items: center;
  align-content: center;
}

.Second--list--content {
  display: flex;
  gap: 125px;
  color: aliceblue;
  align-items: center;
  align-content: center;
}
.fa-house {
  color: blue;
}
.Third--list--content {
  color: aliceblue;
  display: flex;
  gap: 22px;
  align-items: center;
  align-content: center;
}
/* icon settings */
.fa-facebook {
  color: rgb(13, 13, 236);
}
.search {
  border-radius: 5px;
  padding: 1px;
}
header ul i {
  font-size: 19px;
}
/* starting from body */
body {
  background-color: rgb(41, 36, 36);
}
/* defining content  */
section {
  display: flex;
  background-color: rgb(72, 74, 74);
  gap: 4px;
  justify-content: space-between;
  margin: 0 auto;
}
/* .left--content of left side */
.left--content {
  background-color: rgb(76, 77, 76);
  color: aliceblue;
  margin: 0;
  width: 300px;
  height: 990px;
  display: flex;
  flex-direction: column;
  margin-top: 23px;
  border-radius: 8px;
  align-items: left;
}
.left-first-container-list {
  padding: 10px 10px;
  border-bottom: 0.95px solid rgb(87, 86, 86);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.first-icon {
  display: flex;
  align-items: center;
}
.left-icon-content {
  display: flex;
  gap: 18px;
}
/* .middle--content  */
.middle--content {
  background-color: rgb(76, 77, 76);
  color: aliceblue;
  margin: 0 auto;
  width: 780px;
  display: flex;
  margin-top: 23px;
  border-radius: 8px;
  flex-direction: column;
}
.middle-top-content {
  /* width: 700px;
  height: 200px; */
  border-radius: 8px;
  margin: 0 auto;
  border-bottom: 0.8px solid rgb(87, 86, 86);
  justify-content: center;
}
.middle-top-content ul {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  align-items: center;
  align-content: center;
  font-size: 24px;
  flex-direction: row;
  /* padding: 10px; */
  gap: 210px;
}
/* middle top icon config */
.Stories {
  color: blue;
}
/* RIGHT CONTENT */
.right--content {
  background-color: rgb(76, 77, 76);
  color: aliceblue;
  margin: 0;
  width: 300px;
  height: 990px;
  display: flex;
  flex-direction: column;
  margin-top: 23px;
  border-radius: 8px;
}
.right-content-top {
  padding: 10px 10px;
  border-bottom: 0.95px solid rgb(87, 86, 86);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.right-content-top-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-content-top-2-common {
  display: flex;
  gap: 8px;
  align-items: center;
}
.right-content-below-top {
  padding: 10px 10px;
  border-bottom: 0.95px solid rgb(87, 86, 86);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.right-content-below-top-1 {
  display: flex;
  gap: 8px;
  align-items: center;
}
